@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

*{
    padding: 0;
    margin:  0;
    font-family: 'Quicksand', sans-serif;
}

* h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', cursive;
}

body{
    background-color: #FFF5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

article {
    background-color: #B8907C;
    width: 30rem;
    height: 32rem;
    margin-right: 5vw;
    border-radius: 50px;
    background-color: #CBEAFB;
}

article p{
    font-size: 16px;
}

article h2{
    margin-top: 1.5rem;
}

.article_content{
    padding: 2rem;
}

article h1{
    font-size: 32px;
}

article ul li:not(:last-child){
    margin-bottom: 1rem;
}


aside{
    padding: 1rem;
}

aside a{
    text-decoration: none;
    color: #b40060;
}

aside a:hover{
    color: #e40079;
}

main{
    flex-grow: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_content_inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 90vw;
}

.header_content{
    width: 100vw;
    background-color: #FAD1E6;
    border-bottom: 5px dashed #B8907C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_content figure img{
    max-height: 100%;
    width: 5rem;
}

header ul{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-weight: bold;
}

header ul li a{
    color: black;
    font-size: 20px;
}

header ul li a:hover{
    color: #d60072;
}

footer{
    background: linear-gradient(to top, #ad96cf, #ad96cf, #FFF5E5);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

footer p{
    font-size: 20px;
    font-weight: bold;
}

.babadoh img{
    width: 100vw;
}

.main_image{
    background-color: #FADBE7;
    padding: 1rem;
    width: fit-content;
    border-radius: 50px;
    border: 5px dashed #B8907C;
    margin-left: 5vw;
}

#yuumi_kawaii_cafe{
    max-height: 100%;
    width: 55rem;
    border-radius: 45px;
}